/*************    AI   ******************/
/AI/Library
/AI/Temp
/AI/Logs
/AI/obj
/AI/.vs

/*************    Algorithms   ******************/
/Algorithms/Library
/Algorithms/Temp
/Algorithms/Logs
/Algorithms/obj
/Algorithms/.vs

/*************    EditorWindow   ******************/
/EditorWindow/Library
/EditorWindow/Temp
/EditorWindow/Logs
/EditorWindow/obj
/EditorWindow/.vs

/*************    Effects   ******************/
/Effects/Library
/Effects/Temp
/Effects/Logs
/Effects/obj
/Effects/.vs

/*************    ExcelTool   ******************/
/ExcelTool/ExcelTool/Library
/ExcelTool/ExcelTool/Temp
/ExcelTool/ExcelTool/Logs
/ExcelTool/ExcelTool/obj
/ExcelTool/ExcelTool/.vs

/*************    FogOfWar   ******************/
/FogOfWar/Library
/FogOfWar/Temp
/FogOfWar/Logs
/FogOfWar/obj
/FogOfWar/.vs

/*************    Lockstep   ******************/
/Lockstep/Library
/Lockstep/Temp
/Lockstep/Logs
/Lockstep/obj
/Lockstep/.vs

/*************    NavmeshComponents   ******************/
/NavmeshComponents/Library
/NavmeshComponents/Temp
/NavmeshComponents/Logs
/NavmeshComponents/obj
/NavmeshComponents/.vs

/*************    ShaderGraphLearn   ******************/
/ShaderGraphLearn/.vs
/ShaderGraphLearn/Library
/ShaderGraphLearn/Logs
/ShaderGraphLearn/obj
/ShaderGraphLearn/Temp

/*************    ThirdParty   ******************/
/ThirdParty/.vs
/ThirdParty/Library
/ThirdParty/Logs
/ThirdParty/obj
/ThirdParty/Temp

/*************    UnityNotes   ******************/
/UnityNotes/Library
/UnityNotes/Temp
/UnityNotes/Bundles
/UnityNotes/Logs
/UnityNotes/.vs
/UnityNotes/obj
*.csproj

/*************    XMLib.AM.Example   ******************/
/XMLib.AM.Example/Library
/XMLib.AM.Example/Logs
/XMLib.AM.Example/Temp
/XMLib.AM.Example/obj
/XMLib.AM.Example/.vs






