/*************    AI   ******************/
/AI/Library
/AI/Temp
/AI/Logs
/AI/obj
/AI/.vs
/AI/UserSettings

/*************    Algorithms   ******************/
/Algorithms/Library
/Algorithms/Temp
/Algorithms/Logs
/Algorithms/obj
/Algorithms/.vs
/Algorithms/UserSettings

/*************    Effects   ******************/
/Effects/Library
/Effects/Temp
/Effects/Logs
/Effects/obj
/Effects/.vs
/Effects/UserSettings

/*************    FogOfWar   ******************/
/FogOfWar/Library
/FogOfWar/Temp
/FogOfWar/Logs
/FogOfWar/obj
/FogOfWar/.vs
/FogOfWar/UserSettings

/*************    NavmeshComponents   ******************/
/NavmeshComponents/Library
/NavmeshComponents/Temp
/NavmeshComponents/Logs
/NavmeshComponents/obj
/NavmeshComponents/.vs
/NavmeshComponents/UserSettings

/*************    ShaderGraphLearn   ******************/
/ShaderGraphLearn/.vs
/ShaderGraphLearn/Library
/ShaderGraphLearn/Logs
/ShaderGraphLearn/obj
/ShaderGraphLearn/Temp
/ShaderGraphLearn/UserSettings

/*************    UnityNotes   ******************/
/UnityNotes/Library
/UnityNotes/Temp
/UnityNotes/Bundles
/UnityNotes/Logs
/UnityNotes/.vs
/UnityNotes/obj
*.csproj

/*************    XMLib.AM.Example   ******************/
/XMLib.AM.Example/Library
/XMLib.AM.Example/Logs
/XMLib.AM.Example/Temp
/XMLib.AM.Example/obj
/XMLib.AM.Example/.vs






