
/*************    UnityNotes   ******************/
/UnityNotes/Library
/UnityNotes/Temp
/UnityNotes/Bundles
/UnityNotes/Logs
/UnityNotes/.vs
/UnityNotes/obj
*.csproj

/*************    XMLib.AM.Example   ******************/
/XMLib.AM.Example/Library
/XMLib.AM.Example/Logs
/XMLib.AM.Example/Temp
/XMLib.AM.Example/obj
/XMLib.AM.Example/.vs

/*************    ShaderGraphLearn   ******************/
/ShaderGraphLearn/.vs
/ShaderGraphLearn/Library
/ShaderGraphLearn/Logs
/ShaderGraphLearn/Temp
